/*Colors 
Black:	#32383C;	rgba(50, 56, 60, 0.5);
Cream:	#FFF3D9;
Red:	#A02937;

-----------------------*/


/*-----------------------------
 GLOBAL
-----------------------------*/
main, article, header, nav, section, aside, footer {
	display: block;
}

html {
	background-color: #32383C;
}

body {
	margin: 0 auto;
	max-width: 1280px;
	height: 800px;
	/*background-color: lightgrey;*/
}

/*-----------------------------
 PAGE HEADER
-----------------------------*/
#page-header {
	position: fixed;
	background-color: #32383C;
	background-color: rgba(50, 56, 60, 0.9);
	width: 100%;
	max-width: 1280px;
	height: 150px;
}

/*-----------------------------
 MAIN CONTENT
-----------------------------*/

/*Index CTA
------------*/

#hero-image {
	width: 100%;
	height: 853px;
	background-image: url('../images/letha_hero_1280.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
}