/*@font-face {
	font-family: "raleway-regular";
	src: url("../fonts/raleway-regular.woff2") format("woff2");
	src: url("../fonts/raleway-regular.woff") format("woff");
	src: url("../fonts/raleway-regular.ttf") format("truetype");
}*/

/*Colors 
Black:	#32383C;	rgba(50, 56, 60, 0.5);
Cream:	#FFF3D9;
Red:	#A02937;

-----------------------*/


/*-----------------------------
 GLOBAL
-----------------------------*/
main, article, header, nav, section, aside, footer {
	display: block;
}

html {
	background-color: #32383C;
	font-size: 16px;
}

body {
	margin: 0 auto;
	max-width: 1280px;
	height: 800px;
	/*background-color: lightgrey;*/
}

nav ul {
	padding-left: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}

nav ul li {
	display: inline-block;
}

/*Font declarations
---------------------*/
nav ul {
	font-family: "gill sans", helvetica, sans-serif;
}

/*-----------------------------
 PAGE HEADER
-----------------------------*/
#page-header {
	position: fixed;
	background-color: #32383C;
	background-color: rgba(50, 56, 60, 0.9);
	width: 100%;
	max-width: 1280px;
	height: 150px;
	color: #FFF3D9;
}

header #logo {
	margin-top: 35px;
	margin-left: 2%;
	width: 200px;
	height: 75px;
	background-image: url('../images/letha_logo_sketch.png');
	background-repeat: no-repeat;
	background-size: contain;
}

header nav {
	/*border: 1px dashed yellow;*/
	margin-left: 30%;
	position: relative;
	bottom: -8px;
	display: inline-block;
	font-size: 125%;
}

header nav li {
	margin-right: 12px;
	padding: 2px 5px;
	/*border: 1px dotted white;*/
}

header nav li:last-child {
	margin-right: 0;
}

/*-----------------------------
 MAIN CONTENT
-----------------------------*/

/*Index CTA
------------*/

#hero-image {
	width: 100%;
	height: 853px;
	background-image: url('../images/letha_hero_1280.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
}